/*Styling of the stylesheet*/

/*clear floats for style of grids*/
*, *::after, *::before {
	box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1rem;
  color: #333;
  background: linear-gradient(#C0DFD9, #225c89);
}

/*flex display of content styling*/
.pageContainer {
  display: -ms-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pageMenu {
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-basis: 15%;
  flex-basis: 15%;
  height: 100%;
}

.pageContent {
  -ms-flex-grow: 10;
  flex-grow: 10;
  -ms-flex-basis: 80%;
  flex-basis: 80%;
}

nav, .contentTopic {
  background-color: white;
  padding: 1em 3em;
  margin-bottom: 2em;
  border-radius: 1em;
}
/*end of flex display of content styling*/


/*styling for main navigation*/
nav {
  margin-right: 1em;
  padding: 2em 1.5em 0;
}

.mainNavBox {
  padding: 0;
  border-top: 1px solid #CCC;
	list-style: none;
}

.navBoxItem {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid #CCC;
  color: #6495ED;
}

.navBoxItem:active, .navBoxItem:hover, .navBoxItem:focus {
  color: white;
  background-color: #99CCCC;
}
/*end of main navigation styling*/


/*styling for sub-navigation*/
.subNavBox {
  padding: 0 0 1.25em;
  margin-bottom: 2em;
  border-bottom: 1px solid #CCC;
  display: inline-block;
  width: 100%;
}

.subNavItem {
	display: inline;
  padding-right: 1em;
}

.subNavItem a {
	text-decoration: none;
	color: #484848;
}

.subNavItem a:hover, .subNavItem a:focus {
  color: #6495ED;
}
/*end of sub-navigation styling*/

/* End of the stylesheet styling*/
