/*Styling of the stylesheet*/

/*clear floats for style of grids*/
*, *::after, *::before {
	box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1rem;
  color: #333;
  background: linear-gradient(#C0DFD9, #225c89);
}

/*flex display of content styling*/
.pageContainer {
  display: -ms-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pageMenu {
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-basis: 15%;
  flex-basis: 15%;
  height: 100%;
}

.pageContent {
  -ms-flex-grow: 10;
  flex-grow: 10;
  -ms-flex-basis: 80%;
  flex-basis: 80%;
}

nav, .contentTopic {
  background-color: #ffffff;
  padding: 1em 3em;
  margin-bottom: 2em;
  border-radius: 1em;
}

.forumsSectioning {
  background-color: #112035;
  padding: 1em 3em;
	margin: 0.5em 1em;
  border-radius: 1em;
}
/*end of flex display of content styling*/


/*styling for main navigation*/
nav {
  margin-right: 1em;
  padding: 2em 1.5em 0;
}

.mainNavBox {
  padding: 0;
  border-top: 1px solid #CCC;
	list-style: none;
}

.navBoxItem {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 1em 0;
  color: #6495ED;
}

.navBoxItem:active, .navBoxItem:hover, .navBoxItem:focus {
  color: white;
  background-color: #99CCCC;
}
/*end of main navigation styling*/


/*styling for sub-navigation*/
.subNavBox {
  padding: 0 0 1.25em;
  margin-bottom: 2em;
  border-bottom: 1px solid #CCC;
  display: inline-block;
  width: 100%;
}

.subNavItem {
	display: inline;
  padding-right: 1em;
}

.subNavItem a {
	text-decoration: none;
	color: #484848;
}

.subNavItem a:hover, .subNavItem a:focus {
  color: #6495ED;
}
/*end of sub-navigation styling*/

/*for making diving lines(every section that does not have an id)*/
section:not([id]) {
  padding: 1em 0 2em;
  border-top: 0.1em dashed #333;
}

/*styling level of headings*/
h1 {
  display: block;
  font-size: 2.5em;
	margin-top: 2em;
	margin-left: 0.5em;
  margin-bottom: 0.5em;
}

section h2{
  color: #99CCCC;
  font-weight: bold;
}

section h3{
	color: #99CCCC;
  margin-bottom: 1em;
}

section h4 {
  margin-bottom: 0.5em;
}
/*end of level of headings styling*/

/*styling for paragraph*/
p {
  max-width: 50em;
  margin: 0.5em 0em;
  line-height: 1.5em;
}

section p {
  margin-bottom: 0.5em;
  color: #666;
}
/*end of for paragraph styling*/

/*styling for sample code display*/
section code{
  border: 0.1em solid #99CCCC;
  border-left-width: thick;
  background-color: #F8FFF8;
  color: #666;
  padding: 1.25em;
  margin-bottom: 1em;
  display: block;
  line-height: 2em;
}
/*end of sample code display styling*/

/*styling for the citation links*/
ul.citations {
  padding-left: 0
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}
/*end of citations links styling*/




/*
  Interactive Elements Section ------------------------
*/

/*styling for the in-text link*/
.inTextLink {
  text-decoration: none;
  color: #6495ED;
  display: inline-block;
}

.inTextLink:hover, .inTextLink:focus {
  text-decoration: underline;
  color: #08B;
  transition: color 0.5s ease-out;
}

/*styling of default button*/
.button, button {
  text-decoration: none;
  display: inline-block;
  padding: 0.75em 3em;
  background-color: #f2f2f2;
  color: #484848;
  border-radius: 0.5em;
}

/*styling for the navigation buttons*/
.navButton {
  text-decoration: none;
  display: inline-block;
  padding: 0.75em 3em;
  background-color: white;
  color: #484848;
  border-radius: 0.5em;
  transition: background-color 0.5s ease-out;
}

.navButton:active,.navButton:hover, .navButton:focus {
  background-color: #99CCCC;
}

/*styling for the submit and reset buttons*/
.submitButton, .resetButton {
  border: 1px solid #99CCCC;
  background-color: #99CCCC;
  color: white;
}

.submitButton:hover, .submitButton:focus {
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

.resetButton {
  background-color: white;
  color: #484848;
}

.resetButton:hover, .resetButton:focus {
  background-color: #99CCCC;
  color: white;
}
/*end of submit and reset buttons styling*/

/*styling for text input field and a label*/
form[method=login] {
    /*font-family: "fredoka";*/
    /*font-size: 2em;*/
		font-size: 1.2em;
		margin: 1em 1em;
    color: #99CCCC;
}

input[type=text], input[type=password], input[type=search]#forSearch {
  display: block;
  width: 40em;
  padding: 12px 20px;
  margin: 0.5em 0em;
  border: 1px solid #ccc;
  border-radius: 4px;
	font-size: 1em;
}

input[type=search]#forSearch {
	display: inline;
	width: 30%;
	margin: 0.5em 1em;
}

input[type=text]:active, input[type=text]:hover, input[type=text]:focus,
input[type=password]:active, input[type=password]:hover, input[type=password]:focus,
input[type=search]:active, input[type=search]:hover, input[type=search]:focus {
  color: #666;
  border: 1px solid #99CCCC;
}

/*styling the radio button*/
form[method=filter] {
	font-size: 1.2em;
	margin: 1em 2em;
	color: #99CCCC;
}

input[type=radio] {
	display: inline-block;
  padding: 12px 20px;
  margin: 0.5em 0em;
  border: 1px solid #ccc;
  border-radius: 4px;
	font-size: 1em;
}
/*end of text input field and a label styling*/
/*
  end of Interactive Elements Section -----------------------
*/




/*
  Text Styling Section -----------------------
*/
/*styling for bulletted list*/
ul.bullettedList {
  list-style-type: circle;
  line-height: 1.5em;
  margin: 0;
	margin-bottom: 0.9em;
	color: #678;
}

/*styling for Numbered list*/
ol.numberedList {
  line-height: 1.5em;
  margin: 0;
}
/*
  end of Text Styling Section -----------------------
*/





/*
  Combined Elements Section -----------------------
*/
/*styling for main navigation*/
.navBox{
  margin: 0;
  display: -ms-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-justify-content: space-around;
  justify-content: space-around;
}

.navBoxItem  {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0.5em;
}

.navBoxItem:hover, .navBoxItem:focus {
  background-color: #f79c7b;
}

.navActive {
  background-color: #99CCCC;
  color: white;
}

.navActive:hover, .navActive:focus {
  color: #484848;
}
/*end of main navigation styling*/


/*styling for product listing*/
.productBox, .productButtonsBox {
  margin: 0;
  display: -ms-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-justify-content: space-around;
  justify-content:space-around;
}

.productItem {
  display: inline-block;
  max-width: 24%;
  padding: 1em 1em;
  margin: 0.1em;
	margin-top: 1em;
  color: #ffffff;
  background-color: #112035;
  border-radius: 0.75em;
  border: 3px solid #112035;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
}

.productItem:hover, .productItem:focus {
  border: 3px solid #f79c7b;
}

.productName {
  margin: 0 0 0.7em 0;
  text-align: center;
}

figure {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

.productDetail {
  display: inline-block;
  color: #CCC;
}

.productDetail a {
  color: #99CCCC;
}

a.productButton {
  flex: 1;
  text-decoration: none;
  text-align: center;
  margin: 0.35em;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #49c8e5;
  color: white;
  transition: background-color 0.5s ease-out;
}

a.productButton:hover, a.productButton:focus {
  background-color: #f79c7b;
}
/*end of product listing styling*/


/*styling for the website grid structure*/
.colGrid {
  margin: 0;
  display: -ms-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.colItem {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;

  background-color: #C0DFD9;
  padding: 1em;
}

p.colItemName {
  margin: 0;
  padding: 2em;
  background-color: #99CCCC;
  text-align: center;
}
/*end of website grid structure styling*/


/*styling for color swatches*/
.colorSwatchBox {
  margin: 0;
  display: -ms-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-justify-content: space-around;
  justify-content:space-around;
}

.colorSwatchItem {
  flex: 1;
  list-style: none;
  padding: 1.5em 2em;
  border-radius: 1em;
  color: white;
  text-align: center;
  margin: 0.25em;
}

.cw1{
  background-color: #99CCCC;
}

.cw2{
  background-color: #C0DFD9;
}

.cw3{
  background-color: #C5D5CD;
}

.cw4{
  background-color: #9FA8A3;
}

.cw5{
  background-color: #484848;
}

.cw6{
  background-color: #333333;
  order: 1;
}

.cw7{
  background-color: #4385b7;
  order:-1;
}

.cw8{
  background-color: #225c89;
  order:-2;
}

.cw9{
  background-color: #f9bd77;
}

.cw10{
  background-color: #f79c7b;
}
/*
  end of Combined Elements Section -----------------------
*/

/*
start of pop up design setup
*/

/*specific styling for the sitemap image, which will trigger the popup*/
#imgSiteMapTrigger {
	border-radius: 0.5em;
	cursor: pointer;
	transition: 0.5s;
}

#imgSiteMapTrigger:hover {
	opacity: 0.7;
}

/*designing the popup environment*/
.popUpClass {
	display: none;
	position: fixed;

	/*puts the popup image infront of everything*/
	z-index: 1;
	padding-top: 2em;

	/*coordinates*/
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000000;
}

/*designing the popup content*/
.popUpContent {
	margin: auto;
	display: block;
	max-width: 68%;
}

/*designing the X button*/
.closePopUp {
	position: absolute;
	color: #ffffff;
	font-size: 3em;
	z-index: 2;
	cursor: pointer;
	padding: 0.1em 1em;
}

/*
End of pop up design setup
*/

/*styling the new submit button (used in shop)*/
input[type=submit] {
	text-decoration: none;
	text-align: center;
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: #49c8e5;
	color: white;
	transition: background-color 0.5s ease-out;
	font-size: 1em;
}

input[type=submit]:hover, input[type=submit]:focus {
  background-color: #f79c7b;
}

/*styling product details button*/
a.productDetailButton {
  flex: 1;
  text-decoration: none;
  text-align: center;
  margin: 0.35em;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #49c8e5;
  color: white;
  transition: background-color 0.5s ease-out;
	font-size: 2em;
}

a.productDetailButton:hover, a.productDetailButton:focus {
  background-color: #f79c7b;
}

/*styling forums button*/
a.forumsButton {
  text-decoration: none;
  text-align: center;
  margin: 2em 0em;
	padding: 0em 2em;
  border-radius: 0.5em;
  background-color: #49c8e5;
  color: white;
	font-size: 1.5em;
  transition: background-color 0.5s ease-out;
}

a.forumsButton:hover, a.forumsButton:focus {
  background-color: #f79c7b;
}

/*styling details in individual forum posts*/
p.forumPostStyles {
	display: inline-block;
	margin: 0em;
	color: #ffffff;
}

a.newPostButton {
	text-decoration: none;
  text-align: center;
  margin: 2em 1.25em;
	padding: 0.1em 2em;
  border-radius: 0.5em;
  background-color: #49c8e5;
  color: white;
	font-size: 2em;
  transition: background-color 0.5s ease-out;
}

a.newPostButton:hover, a.newPostButton:focus {
  background-color: #f79c7b;
}

/* End of the stylesheet styling*/
