body {
  background: #020309;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 1em;
  font-weight: 400;
  color: #FFF;
  margin-top: 1.5em;
}

/*
  header styling
*/

header {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 9999;
  display: inline-block;
  padding: 0 25px;
  flex: 1;
}

.headerBoxDark {
  background: rgba(0, 0, 0, 0);
}

.headerBoxDark a, footer a,
.headerBoxLight a{
  text-decoration: none;
  font-weight: 500;
  color: #FFF;
  opacity: 0.6;
}

.headerBoxLight {
  background: rgba(255, 255, 255, 0);
}

.headerBoxLight a {
  color: #333;
  opacity: 0.6;
}

.menuLink {
  margin-top: 10px;
  float: left;
  padding: 20px 20px 0;
}

.menuLink:hover, .menuLink:focus,
.accountLink:hover, .accountLink:focus {
  opacity: 1;
}

.brandLogo {
  margin-right: 10px;
  align-items: center;
  background: #999;
  padding: 20px;
  max-width: 200px;
  height: 60px;
}

.startAccount {
  float: right;
  margin-top: 30px;
}

.lineDivid {
  margin: 0 10px;
  border-left: 1px solid #FFF;
}

/*
  header styling end here
*/



/*
  footer and account styling
  */
.footerContainer, .subMenuContaier{
  padding: 3em 5em 1em;
}

.footerWrap, .subMenuWrapper {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
}

.footerColumn, .subMenuColumn {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 20px;
}

.footerLink, .subMenuLink {
  display: block;
  align-self: flex-start;
  flex: 0 0 auto;
  padding: 10px 0;
}

.footerLink:hover, .footerLink:focus,
.subMenuLink:hover, .subMenuLink:focus{
  opacity: 1;
}

.footerContainer .brandLogo {
  flex: 0 auto;
  margin-right: 60px;
}

.copyRightText {
  text-align: center;
  max-width: 100%;
  margin-top: 30px;
}
/*
  footer and account styling end here
*/


/*
  account styling continue ////////////////////////
*/
section.contentBoxLight.firstContent {
  padding: 0;
}

.subMenuDivid {
  border: 1px solid #DDD;
  width: 100%;
}

.horzDivid {
  margin: 0 5em 0 3em;
  border: 1px solid #DDD;
}

.smallPortion {
  flex-grow: 0;
}

.largePortion {
  flex-grow: 4;
}

.subMenuLink {
  text-decoration: none;
  color: #333;
  text-align: center;
  align-self: center;
  font-weight: 400;
}

.subMenuLink:hover, .subMenuLink:focus {
  color: #225c89;
  text-decoration: underline;
}

button.editButton {
  position: relative;
  left: 30em;
}

.editButton {
  border: 2px solid #225c89;
  max-width: 10em;
  padding: 0.75em;
  text-align: center;
  background: none;
  font-size: 1em;
}

form.accountEdit input[type=text] {
  margin-bottom: 3em;
}
/*
  account styling end here ////////////////////////
*/



/*
  body content styling
*/
.contentContainer {
  background: linear-gradient(to top left, rgba(67, 83, 255, 0) 55%, rgba(67, 83, 255, 0.25));
  padding: 20em;
}

section:not([id]) {
  border: none;
}

.contentBox {
  margin-bottom: 2em;
}

section.contentBoxLight {
  background: #FFF;
  color: #333;
  padding: 9em 0;
}

section.contentBoxDark {
  background: #020309;
  color: #FFF;
  padding: 9em 0;
}

.firstContent {
  margin-top: 90px;
}



/*carousel image styling*/
.carouselImg {
  max-width: 100%;
  height: 500px;
  background: gray;
}

.carouselImg img {
  height: 500px;
  color: #999;
}

.carouselButton {
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-weight: 600;
  font-size: 200%;
  padding: 0.5em 1em;
  position: relative;
  top: 45%;
  color: #FFF;
}

.carouselButton:hover, .carouselButton:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.buttonLeft {
  float: left;
  left: 0%;
}

.buttonRight {
  float: right;
  right: 0%;
}

.carouselText {
  color: #FFF;
  text-align: center;
  font-size: 200%;
  max-width: 100%;
  position: relative;
  top: 45%;
}
/*carousel image styling end here*/




/*news and forums update preview styling*/
.previewBox.contentBox {
  background: #FFF;
  padding: 1em 0;
}

section .contentBox h1, section .contentBoxLight h1, section .contentBoxDark h1 {
  margin: 0 1em 0.5em;
  color: #99CCCC;
}

.previewBox h3 {
  margin-left: 2em;
}

.previewColumn {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.previewItem {
  display: inline-block;
  flex: 1;
  padding: 0 0 1em 0;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
}

.previewItem h2 {
  margin: 0;
}

.previewItem h3 {
   margin: 0 0 1em;
 }

.newsForumsDetail {
  display: block;
  align-self: flex-start;
  flex: 0 0 auto;
}

.previewColumn div:nth-of-type(1) {
  flex-grow: 2;
}

.previewColumn div:nth-of-type(2) {
  flex-grow: 1;
}

.lineDividDark {
  margin: 0 10px;
  border-left: 1px solid #333;
}

.previewItem {
  padding: 0 2em;
}
/*news and forums update preview styling end here*/



/*
  about template
*/
section .fullTextBox {
  padding: 4em;
}

.fullLengthText {
  max-width: 100%;
  display: block;
}

.centerContent {
  margin: 0 20em;
}

.centerTitle {
  text-align: center;
}

.centerParagraph {
  text-align: center;
  padding: 0;
  font-size: 1.25em;
}

.contactContainer {
  display: inline-block;
  width: 100%;
  padding: 2em;
  border-top: 2px solid #99CCCC;
  margin-top: 2em;
}

.formGroup {
  margin: 1em 0 3em;
}

input[id] {
  width: 100%;
}
input[id=contacterMsm]{
  height: 100px;
}
/*
  about template end here
*/




/*
  login & signup section
*/
div.loginTitle, div.signupTitle {
  margin-top: 0.5em;
  font-size: 3.2em;
  font-weight: 400;
  text-align: center;
  color: #DDD;
}

form.login, form.signup{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}

.newUser, .currentUser {
  color:#CCC;
  margin-bottom: 3em;
}

.newUser a, .currentUser a{
  color: #99CCCC;
  text-decoration: none;
}

.loginContainer, .signupContainer {
  display: inline-block;
  margin-top: 0.5em;
  width: 25%;
}

/*input#username, input#password {
  height: 50px;
  font-size: 1em;
}*/

.forget {
  margin: 0;
}

.forgetPasswordLink {
  color: #CCC;
  text-decoration: none;
  float: right;
}

.forgetPasswordLink:hover, .forgetPasswordLink:focus {
  color: #99CCCC;
}


.loginButton, .signupButton{
  margin-top: 3.5em;
  color: #FFF;
  border: none;
  background: #225c89;
  padding: 1em 3em;
}

.loginButton:hover, .loginButton:focus {
  opacity: 0.9;
}

.signupButton {
  background-color: transparent;
  border: 1px solid #225c89;
  color: #99CCCC;
}

/*
  login & signup section end here
*/
